.not-yet-implemented{
    margin:50px;
    text-align: center;
    font-weight: bold;
    font-size:36px;
    color:#f00;
}
.list_photo .selected{
    box-shadow: 0px 0px 10px #ff0000;
}

.list_photo.disabled{
    position: relative;
    padding:15px;
}
.list_photo.disabled:before{
    content: '';
    background: rgba(200,200,200,0.5);
    width:100%;
    height:100%;
    position: absolute;
    z-index: 1;
    margin:-15px;
}
.form-control[readonly]{
    background-color: #fff !important;
}
table.no-border, table.no-border td{
    border: 0px !important;
}
table.no-border td.pl00{
    padding-left:0 !important;
}
table.no-border td.pt00{
    padding-top:0 !important;
}
table.no-border td.pb00{
    padding-bottom:0 !important;
}
.video .no-border .fileinput-filename{
    display: block;
}

.pdf-button{
    color: #337ab7 !important;
}

/* currency after css "/jobpost/create" */
.has-currency{
    width: calc(100% - 50px) !important;
}
.has-currency + .currency-after{
    display: inline-block;
}
.the_btn_status {
    width: 30px;
    height: 30px;
    background: #5cb85c;
    color: #008743;
    border-radius: 100%;
    border: 1px solid #5cb85c;
    margin: 0 auto;
    position: relative;
    display: inline-block;
}
.the_btn_status:before {
    content: "\f0c1";
    color: #fff;
    font-family: fontAwesome;
    top: 4px;
    position: relative;
}
