@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

.control-label sup {
  color: red;
}

.form-horizontal .control-label {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: black;
  padding-top: 4px;
  padding-right: 0px;
  margin-bottom: 5px;
}

.form-horizontal.form-group-sm .control-label {
  padding-top: 6px;
  font-size: 12px;
  font-weight: 300;
}

.tab-pan-title {
  background-color: #f47536 !important;
  font-weight: 600;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.nav-tabs-custom .tab-content {
  background: #fff;
  padding: 10px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.nav-tabs .box-tools {
  padding: 5px;
}

.dataTables_info, .dataTables_length {
  float: left;
  padding: 5px;
}

@media (max-width: 767px) {
  .dataTables_info {
    display: none;
  }
}

.title {
  font-family: 'Lato';
  font-size: 96px;
}

.sub-title {
  font-family: 'Lato';
  font-size: 46px;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-body a {
  color: #FFF !important;
}

.dataTable tbody tr:hover.selected td,
.dataTable tbody tr:hover td {
  background-color: #FFEFD4;
  cursor: pointer;
}

.dataTable tbody tr.selected td {
  background-color: #FFEFC6 !important;
}

.skin-red .dataTable thead {
  background-color: #dd4b39;
  color: white;
}

.dataTable td,
.dataTable th {
  padding: 2px 2px;
  border-top: 1px solid #dd4b39;
  overflow: hidden;
  white-space: nowrap;
}

.dataTable tr.odd {
  background-color: #F8F8F8;
}

.dataTable {
  width: 100% !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.smoke-base .dialog-inner {
  overflow-y: scroll;
  max-height: 500px;
}

.error {
  border: red 1px solid !important;
}

/*Nestable lists*/
.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-list .dd-list {
  padding-left: 30px;
}

.dd-collapsed .dd-list {
  display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}

.dd-handle {
  cursor: default;
  display: block;
  margin: 5px 0;
  padding: 7px 10px;
  color: #333;
  text-decoration: none;
  border: 1px solid #ddd;
  background: #fff;
}

.dd-handle:hover {
  color: #FFF;
  background: #4D90FD;
  border-color: #f39c12;
}

.dd-item > button {
  color: #555;
  font-family: FontAwesome;
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 8px 2px;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 10px;
  line-height: 1;
  text-align: center;
}

.dd-item > button:before {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}

.dd-item > button[data-action="collapse"]:before {
}

.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #FFF;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
  -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
  -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
  linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}

.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}

.dd3-content {
  display: block;
  margin: 5px 0;
  padding: 7px 10px 7px 40px;
  color: #333;
  text-decoration: none;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DDDDDD;
  color: #333333;
}

.dd3-content:hover {
  background: #fff;
}

.dd3-content a {
  color: #F39C12;
}

.dd-dragel > .dd3-item > .dd3-content {
  margin: 0;
}

.dd3-item > button {
  margin-left: 35px;
}

.dd3-handle {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  cursor: all-scroll;
  width: 34px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #f39c12;
  background: #f39c12;
  height: 36px;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2) inset;
}

.dd3-handle:before {
  content: "≡";
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  width: 100%;
  text-align: center;
  text-indent: 0;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}

.dd3-handle:hover {
  background: #f39c12;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  margin-left: 0px;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox.collapsed .ibox-content {
  display: none;
}

.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}

.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}

.ibox:after,
.ibox:before {
  display: table;
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}

.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}

/* AGILE BOARD */
.sortable-list {
  padding: 10px 0;
}

.agile-list {
  list-style: none;
  margin: 0;
}

.agile-list li {
  background: #FAFAFB;
  border: 1px solid #e7eaec;
  margin: 0px 0 10px 0;
  padding: 10px;
  border-radius: 2px;
}

.agile-list li:hover {
  cursor: pointer;
  background: #fff;
}

.agile-list li.warning-element {
  border-left: 3px solid #f8ac59;
}

.agile-list li.danger-element {
  border-left: 3px solid #ed5565;
}

.agile-list li.info-element {
  border-left: 3px solid #1c84c6;
}

.agile-list li.success-element {
  border-left: 3px solid #1ab394;
}

.agile-list li.normal-element {
  border-left: 3px solid #f8dd59;
}

.agile-list li.High {
  border-left: 3px solid #f8ac59;
}

.agile-list li.Critical {
  border-left: 3px solid #ed5565;
}

.agile-list li.Minor {
  border-left: 3px solid #1c84c6;
}

.agile-list li.Low {
  border-left: 3px solid #1ab394;
}

.agile-list li.Normal {
  border-left: 3px solid #f8dd59;
}

.agile-detail {
  margin-top: 5px;
  font-size: 12px;
}

.dropzone {
  min-height: 150px;
  border: 1px dashed rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.image-editor .img-box {
  margin: 10px;
  width: 100px;
  display: inline-block;
}

.notification .img-circle {
  width: 40px;
  height: 40px;
  margin: auto 10px auto auto;
}

.notification > li .menu > li > a > h4 {
  padding: 0;
  margin: 0 0 0 45px;
  color: #444444;
  font-size: 15px;
  position: relative;
}

.notification > li .menu > li > a > p {
  margin: 0 0 0 45px;
  font-size: 12px;
  color: #888888;
}

.notification > li .menu > li > a > h4 > small {
  color: #999999;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.upload-wraper .dropzone {
  padding: 0;
  display: inline-block;
  float: left;
  min-height: auto;
}

.upload-wraper .dropzone {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px dashed #000000;
  margin: 10px;
  width: 100px;
  height: 80px;
}

.upload-wraper .dropzone .dz-message {
  text-align: center;
  margin: 1.5em 0;
}

.upload-wraper .dropzone .addfile {
  display: inline-block;
  background-color: #f44336;
  box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
  border-radius: 10px;
  cursor: pointer;
  height: 100px;
  width: 100px;
  text-align: center;
  margin: 10px;
}

.upload-wraper .dropzone .addfile .add-file i {
  font-size: 60px;
  color: #fff;
  line-height: 100px;
}

.upload-wraper .dropzone .addfile .add-file {
  margin: 0;
  display: inline-block;
}

.upload-wraper .image-editor .img-box {
  margin: 10px;
  width: 100px;
  display: inline-block;
}

.upload-wraper .image-editor .img-box .img-container img {
  border-radius: 10px;
}

.upload-wraper .image-editor .img-box .img-container {
  position: relative;
}

.upload-wraper .image-editor .img-box .img-container .btn-container {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 999;
}

.upload-wraper .image-editor .img-box .img-container .btn-container a {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 14px 26px -12px rgba(0, 188, 212, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2);
  background-color: #00bcd4;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  opacity: 0;
}

.upload-wraper .image-editor .img-box .img-container .btn-container a.remove-image {
  background-color: #f44336;
  box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

.upload-wraper .image-editor .img-box .img-container .btn-container a.move-image {
  background-color: #9c27b0;
  box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}

.upload-wraper .image-editor .img-box:hover .img-container .btn-container a.move-image {
  opacity: 1;
  animation: scaleIn 0.6s;
}

.upload-wraper .image-editor .img-box:hover .img-container .btn-container a.edit-image {
  opacity: 1;
  animation: scaleIn 0.4s;
}

.upload-wraper .image-editor .img-box:hover .img-container .btn-container a.remove-image {
  opacity: 1;
  animation: scaleIn 0.2s;
}

.upload-wraper .edit-wraper {
  position: absolute;
  width: 95%;
  height: 99%;
  overflow-x: hidden;
  overflow-y: auto;
  background: white;
  padding: 10px;
  z-index: 1001
}

.upload-wraper {
  border-style: dotted;
  border-width: 1px;
  min-height: 200px
}

.upload-wraper .move-image {
  cursor: move;
  cursor: -webkit-grabbing;
}

.dropzone .dz-message {
  text-align: center;
  margin: 1.5em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
  outline: none !important;
}

a {
  color: #3e4a56;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a:hover {
  color: #ef5350;
  text-decoration: none;
}

a:active {
  outline: 0;
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: none;
}

.bg-empty {
  background: transparent !important;
}

.bg-primary {
  background-color: #228bdf !important;
}

.bg-success {
  background-color: #00b19d !important;
}

.bg-info {
  background-color: #3ddcf7 !important;
}

.bg-warning {
  background-color: #ffaa00 !important;
}

.bg-danger {
  background-color: #ef5350 !important;
}

.bg-muted {
  background-color: #F5F5F5 !important;
}

.bg-inverse {
  background-color: #4c5667 !important;
}

.bg-purple {
  background-color: #7266ba !important;
}

.bg-pink {
  background-color: #f76397 !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.fc-event.event-azure {
  background-color: #00bcd4;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.fc-event.event-purple {
  background-color: #9c27b0;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.fc-event.event-blue {
  background-color: #1e9ce9;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(30, 156, 233, 0.4);
}

.fc-event.event-green {
  background-color: #4caf50;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.fc-event.event-orange {
  background-color: #ff9800;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.fc-event.event-red {
  background-color: #f44336;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}

.fc-event.event-rose {
  background-color: #e91e63;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.fc-event.event-pink {
  background-color: #f544ac;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(245, 68, 172, 0.4);
}

.fc-event.event-indigo {
  background-color: #737cec;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(115, 124, 236, 0.4);
}

.fc-event.event-default {
  background-color: #999999;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(153, 153, 153, 0.4);
}

.fc-day-grid-event {
  margin: 2px 5px 0;
  padding: 4px 5px;
}

.fc-event, .fc-event:hover, .ui-widget .fc-event {
  color: #fff;
  text-decoration: none;
  border: none;
}

.event-color-block {
  width: 100%;
}

#external-events .external-event {
  padding: 4px 5px;
  color: #fff;
  display: block;
  font-size: 1em;
  line-height: 1.3;
  border-radius: 2px;
}

#external-events .external-event + .external-event {
  margin-top: 5px;
}

.external-event.event-azure {
  background-color: #00bcd4;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.external-event.event-purple {
  background-color: #9c27b0;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.external-event.event-blue {
  background-color: #1e9ce9;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(30, 156, 233, 0.4);
}

.external-event.event-green {
  background-color: #4caf50;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.external-event.event-orange {
  background-color: #ff9800;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.external-event.event-red {
  background-color: #f44336;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}

.external-event.event-rose {
  background-color: #e91e63;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.external-event.event-pink {
  background-color: #f544ac;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(245, 68, 172, 0.4);
}

.external-event.event-indigo {
  background-color: #737cec;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(115, 124, 236, 0.4);
}

.external-event.event-default {
  background-color: #999999;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(153, 153, 153, 0.4);
}

.fc-color-picker {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
}

.fc-color-picker > li {
  font-size: 30px;
  line-height: 30px;
  display: table-cell;
  text-align: center;
  float: none;
}

.fc-color-picker > li > a.event-azure {
  color: #00bcd4;
  text-shadow: 0px 5px 15px rgba(0, 188, 212, 0.4);
}

.fc-color-picker > li > a.event-purple {
  color: #9c27b0;
  text-shadow: 0px 5px 15px rgba(156, 39, 176, 0.4);
}

.fc-color-picker > li > a.event-blue {
  color: #1e9ce9;
  text-shadow: 0px 5px 15px rgba(30, 156, 233, 0.4);
}

.fc-color-picker > li > a.event-green {
  color: #4caf50;
  text-shadow: 0px 5px 15px rgba(76, 175, 80, 0.4);
}

.fc-color-picker > li > a.event-orange {
  color: #ff9800;
  text-shadow: 0px 5px 15px rgba(255, 152, 0, 0.4);
}

.fc-color-picker > li > a.event-red {
  color: #f44336;
  text-shadow: 0px 5px 15px rgba(244, 67, 54, 0.4);
}

.fc-color-picker > li > a.event-rose {
  color: #e91e63;
  text-shadow: 0px 5px 15px rgba(233, 30, 99, 0.4);
}

.fc-color-picker > li > a.event-pink {
  color: #f544ac;
  text-shadow: 0px 5px 15px rgba(245, 68, 172, 0.4);
}

.fc-color-picker > li > a.event-indigo {
  color: #737cec;
  text-shadow: 0px 5px 15px rgba(115, 124, 236, 0.4);
}

.fc-color-picker > li > a.event-default {
  color: #999999;
  text-shadow: 0px 5px 15px rgba(153, 153, 153, 0.4);
}

.event-color-block {
  margin-bottom: 20px;
  width: 100%;
}

#external-events .external-event {
  padding: 4px 5px;
  color: #fff;
  display: block;
  font-size: 1em;
  line-height: 1.3;
  border-radius: 2px;
}

#external-events .external-event + .external-event {
  margin-top: 5px;
}

.form-control {
  -moz-border-radius: 2px;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  border: 1px solid #eeeeee;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.form-control:focus {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: none;
}

.label {
  color: #ffffff !important;
}

.label-primary {
  background-color: #228bdf;
}

.label-success {
  background-color: #00b19d;
}

.label-info {
  background-color: #3ddcf7;
}

.label-warning {
  background-color: #ffaa00;
}

.label-danger {
  background-color: #ef5350;
}

.label-purple {
  background-color: #7266ba;
}

.label-pink {
  background-color: #f76397;
}

.label-dark {
  background: #4f595b;
}

.label-inverse {
  background-color: #4c5667;
}

.badge-primary {
  background-color: #228bdf;
}

.badge-success {
  background-color: #00b19d;
}

.badge-info {
  background-color: #3ddcf7;
}

.badge-warning {
  background-color: #ffaa00;
}

.badge-danger {
  background-color: #ef5350;
}

.badge-purple {
  background-color: #7266ba;
}

.badge-pink {
  background-color: #f76397;
}

.badge-inverse {
  background-color: #4c5667;
}

.f-12 {
  font-size: 12px;
  line-height: 20px;
}

.p-0 {
  padding: 0px !important;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.m-0 {
  margin: 0px !important;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px !important;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-t-0 {
  margin-top: 0px;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.btn {
  border-radius: 0px;
  padding: 6px 14px;

}

.btn:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.18), 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-inverse,
.btn-purple,
.btn-pink {
  color: #ffffff !important;
}

.btn-default {
  background-color: #dae6ec;
  border-color: #dae6ec;
}

.btn-default:focus {
  background-color: #dae6ec;
  border-color: #C2CED4;
}

.btn-default:hover {
  background-color: #dae6ec;
  border-color: #C2CED4;
}

.btn-default:active {
  background-color: #dae6ec;
  border-color: #C2CED4;
}

.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
  background-color: #dae6ec !important;
  border-color: #C2CED4 !important;
}

.btn-primary {
  background-color: #228bdf;
  border: 1px solid #228bdf;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
  background-color: #1d7dca !important;
  border: 1px solid #1d7dca !important;
}

.btn-success {
  background-color: #00b19d !important;
  border: 1px solid #00b19d !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open > .dropdown-toggle.btn-success {
  background-color: #009886 !important;
  border: 1px solid #009886 !important;
}

.btn-info {
  background-color: #3ddcf7 !important;
  border: 1px solid #3ddcf7 !important;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open > .dropdown-toggle.btn-info {
  background-color: #25d8f6 !important;
  border: 1px solid #25d8f6 !important;
}

.btn-warning {
  background-color: #ffaa00 !important;
  border: 1px solid #ffaa00 !important;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open > .dropdown-toggle.btn-warning {
  background-color: #e69900 !important;
  border: 1px solid #e69900 !important;
}

.btn-danger {
  background-color: #ef5350 !important;
  border: 1px solid #ef5350 !important;
}

.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.btn-danger.active,
.btn-danger.focus,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open > .dropdown-toggle.btn-danger {
  background-color: #ed3c39 !important;
  border: 1px solid #ed3c39 !important;
}

.btn-inverse {
  background-color: #4c5667 !important;
  border: 1px solid #4c5667 !important;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse:focus,
.btn-inverse:hover,
.open > .dropdown-toggle.btn-inverse {
  background-color: #414a58 !important;
  border: 1px solid #414a58 !important;
}

.btn-purple {
  background-color: #7266ba !important;
  border: 1px solid #7266ba !important;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active {
  background-color: #6254b2 !important;
  border: 1px solid #6254b2 !important;
}

.btn-pink {
  background-color: #f76397 !important;
  border: 1px solid #f76397 !important;
}

.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active {
  background-color: #f64b87 !important;
  border: 1px solid #f64b87 !important;
}

.panel {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.06), 0 2px 0px 0 rgba(0, 0, 0, 0.02);
  border-radius: 0px;
  border: none;
  margin-bottom: 20px;
}

.panel .panel-body {
  padding: 20px;
}

.panel .panel-body p {
  margin: 0px;
}

.panel .panel-body p + p {
  margin-top: 15px;
}

.panel-heading {
  border-radius: 0;
  border: none !important;
  padding: 10px 20px;
}

.panel-default > .panel-heading {
  background-color: #fafafa;
  border-bottom: none;
  color: #797979;
}

.panel-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.panel-sub-title {
  margin-bottom: 3px;
  color: #CEE4FD;
  margin-top: -3px;
}

.panel-footer {
  background: #fafafa;
  border-top: 0px;
}

.panel-default .panel-sub-title {
  color: inherit;
}

.panel-color .panel-title {
  color: #ffffff;
}

.panel-primary > .panel-heading {
  background-color: #228bdf;
}

.panel-success > .panel-heading {
  background-color: #00b19d;
}

.panel-info > .panel-heading {
  background-color: #3ddcf7;
}

.panel-warning > .panel-heading {
  background-color: #ffaa00;
}

.panel-danger > .panel-heading {
  background-color: #ef5350;
}

.panel-purple > .panel-heading {
  background-color: #7266ba;
}

.panel-pink > .panel-heading {
  background-color: #f76397;
}

.panel-inverse > .panel-heading {
  background-color: #4c5667;
}

.panel-border {
  border-radius: 3px;
}

.panel-border .panel-heading {
  background-color: #ffffff;
  border-top: 3px solid #ccc !important;
  border-radius: 3px;
  padding: 10px 20px 0px;
}

.panel-border .panel-body {
  padding: 15px 20px 20px 20px;
}

.panel-border.panel-primary .panel-heading {
  border-color: #228bdf !important;
  color: #228bdf !important;
}

.panel-border.panel-success .panel-heading {
  border-color: #00b19d !important;
  color: #00b19d !important;
}

.panel-border.panel-info .panel-heading {
  border-color: #3ddcf7 !important;
  color: #3ddcf7 !important;
}

.panel-border.panel-warning .panel-heading {
  border-color: #ffaa00 !important;
  color: #ffaa00 !important;
}

.panel-border.panel-danger .panel-heading {
  border-color: #ef5350 !important;
  color: #ef5350 !important;
}

.panel-border.panel-purple .panel-heading {
  border-color: #7266ba !important;
  color: #7266ba !important;
}

.panel-border.panel-pink .panel-heading {
  border-color: #f76397 !important;
  color: #f76397 !important;
}

.panel-border.panel-inverse .panel-heading {
  border-color: #4c5667 !important;
  color: #4c5667 !important;
}

.checkbox input[type=checkbox] {
  display: none;
}

.checkbox label {
  white-space: nowrap;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.checkbox label, .radio-custom label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 30px !important;
  margin-right: 15px;
}

.checkbox label:before {
  top: -1px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.checkbox label:before, .radio-custom label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  position: absolute;
  left: 0px;
  border: 1px solid #dbdbdb;
  margin-top: 1px;
  border-radius: 3px;
}

.radio-custom.radio-success input[type=radio]:checked + label:before, .checkbox input[type=checkbox]:checked + label:before {
  border-color: #228bdf;
}

.checkbox input[type=checkbox]:checked + label:before {
  border-width: 9px;
}

.checkbox input[type=checkbox]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\F00C";
  color: #fff;
}

.checkbox label::after {
  top: 3px;
}

.checkbox label::after {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 2.5px;
  top: 0.5px;
  font-size: 12px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.text-white {
  color: #fff !important;
}

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                      http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/** Theme settings*/

/*Blue */
.skin-blue .dataTable thead.list_head, .skin-blue, .skin-blue .tab-pan-title {
  background-color: #3c8dbc !important;
  color: white;
}

.skin-blue .main-header .navbar .nav > li > a {
  color: #ffffff;
}

.skin-blue .pagination > .active > a, .skin-blue .pagination > .active > a:focus, .skin-blue .pagination > .active > a:hover, .skin-blue .pagination > .active > span, .skin-blue .pagination > .active > span:focus, .skin-blue .pagination > .active > span:hover {
  background-color: #3c8dbc;
  border-color: #3c8dbc;
}

/* Green */

.skin-green .dataTable thead.list_head, .skin-green, .skin-green .tab-pan-title {
  background-color: green !important;
}

.skin-green .dataTable thead.list_head {
  color: white;
}

.skin-green .main-header .navbar .nav > li > a {
  color: #ffffff;
}

.skin-green .pagination > .active > a, .skin-green .pagination > .active > a:focus, .skin-green .pagination > .active > a:hover, .skin-green .pagination > .active > span, .skin-green .pagination > .active > span:focus, .skin-green .pagination > .active > span:hover {
  background-color: green !important;
  border-color: green;
}

/* Yellow */

.skin-yellow .dataTable thead.list_head, .skin-yellow, .skin-yellow .tab-pan-title {
  background-color: yellow !important;
  color: white;
}

.skin-yellow .main-header .navbar .nav > li > a {
  color: #ffffff;
}

.skin-yellow .pagination > .active > a, .skin-yellow .pagination > .active > a:focus, .skin-yellow .pagination > .active > a:hover, .skin-yellow .pagination > .active > span, .skin-yellow .pagination > .active > span:focus, .skin-yellow .pagination > .active > span:hover {
  background-color: yellow !important;
  border-color: yellow;
}

/* Orange */

.skin-orange .dataTable thead.list_head, .skin-orange, .skin-orange .tab-pan-title {
  background-color: orange !important;
  color: white;
}

.skin-orange .main-header .navbar .nav > li > a {
  color: #ffffff;
}

.skin-orange .pagination > .active > a, .skin-orange .pagination > .active > a:focus, .skin-orange .pagination > .active > a:hover, .skin-orange .pagination > .active > span, .skin-orange .pagination > .active > span:focus, .skin-orange .pagination > .active > span:hover {
  background-color: orange !important;
  border-color: orange;
}

/* Purple */
.skin-purple .dataTable thead.list_head, .skin-purple, .skin-purple .tab-pan-title {
  background-color: #605ca8 !important;
  color: white;
}

.skin-purple .main-header .navbar .nav > li > a {
  color: #ffffff;
}

.skin-purple .pagination > .active > a, .skin-purple .pagination > .active > a:focus, .skin-purple .pagination > .active > a:hover, .skin-purple .pagination > .active > span, .skin-purple .pagination > .active > span:focus, .skin-purple .pagination > .active > span:hover {
  background-color: #605ca8 !important;
  border-color: #605ca8;
}

/* Black */
.skin-black .dataTable thead.list_head, .skin-black, .skin-black .tab-pan-title {
  background-color: black !important;
  color: white;
}

.skin-black .main-header .navbar .nav > li > a {
  color: #ffffff;
}

.skin-black .pagination > .active > a, .skin-black .pagination > .active > a:focus, .skin-black .pagination > .active > a:hover, .skin-black .pagination > .active > span, .skin-black .pagination > .active > span:focus, .skin-black .pagination > .active > span:hover {
  background-color: black !important;
  border-color: #000;
}

.sidebar-settings {
  padding: 10px;
  text-align: center;
}

.sidebar-settings li {
  margin-right: 15px;
  display: inline-block;

}

.sidebar-settings li i {
  margin-right: 3px;
}

.manage-column input[type=checkbox] {
  margin-left: -15px;
}

.manage-column .checkbox-inline {
  min-width: 28%;
  margin-left: 20px;
}

.fileinput {
  margin-bottom: 9px;
}

.fileinput .thumbnail.img-circle {
  border-radius: 50%;
  max-width: 150px;
  min-height: 150px;
}

.fileinput .thumbnail {
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  border: none;
  margin: 0 auto;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.fileinput .thumbnail > img {
  max-height: 100%;
  width: 100%;
}

.cropper-view-box, .cropper-face {
  border-radius: 50%;
}

.img-container {
  width: 100%;
}

.img-container img {
  width: 100%;
}

.mt10 {
  margin-top: 10px !important
}

.mt20 {
  margin-top: 20px !important
}

.mt30 {
  margin-top: 30px !important
}

.mt40 {
  margin-top: 40px !important
}

.mt50 {
  margin-top: 50px !important
}

.mt60 {
  margin-top: 60px !important
}

.mln {
  margin-left: 0
}

.ml10 {
  margin-left: 10px
}

.ml20 {
  margin-left: 20px
}

.ml30 {
  margin-left: 30px
}

.ml40 {
  margin-left: 40px
}

.ml50 {
  margin-left: 50px
}

.mtn {
  margin-top: 0 !important;
}